.movie_details_page {
  padding: 0 o;
  position: relative;
}

.movie_details_main {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.additional_info_nav {
  display: flex;
  height: 80px;
  padding: 0 10px;
  align-items: center;
  justify-content: flex-end;
  background-color: darkgray;
}

.additional_nav_link {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  padding: 10px 0px;
  text-decoration: none;
  background-color: black;
  margin-left: 20px;
}

.additional_nav_link:hover,
.additional_nav_link--active {
  background-color: white;
  color: black;
}

.image_container {
  margin-right: 30px;
}

.movie_details_image {
  display: block;
  height: 400px;
}

.genres_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.genres_list > li:not(:last-child) {
  margin-right: 20px;
}

.go_back_button {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  background-color: black;
}

.go_back_button:hover {
  // background-color: white;
  // color: black;
  opacity: 0.5;
}

.video_link_image {
  transform: scale(1);
  transition: ease 250ms;
}

.video_link_image:hover {
  transform: scale(1.05);
  transition: ease 250ms;
}

.companies_list {
  padding: 0 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.company_item {
  padding: 5px;
}

.company_item:not(:last-child) {
  margin-right: 20px;
}

.company_logo {
  display: block;
  height: 30px;
  width: auto;
}

@media (max-width: 800px) {
  .movie_details_main {
    flex-direction: column;
    align-items: center;
  }
  .details_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
  .details_container * {
    text-align: center;
  }
  .image_container {
    margin: 0;
  }
  .companies_list {
    padding: 0 5px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .genres_list {
    justify-content: center;
  }
  .company_item {
    padding: 5px;
  }
  h2,
  p,
  ul {
    margin: 12px 0;
  }

  .additional_nav_link {
    margin: 0 20px;
  }
}
