.movie_details_page {
  padding: 0 0;
  position: relative;
  height: calc(100vh - 80px);
}

.movie_details_main {
  display: flex;
  height: calc(100vh - 160px);
  overflow: hidden;
}

.additional_info_nav {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: lightblue;
}

.additional_info_title {
  font-family: monospace;
  font-size: 16px;
}

.additional_nav_link {
  display: block;
  color: white;
  padding: 10px 0;
  margin: 0 40px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: black;
}

.additional_nav_link--active {
  text-decoration: underline;
  background-color: white;
  color: black;
}

.image_container {
  margin-right: 30px;
}

.movie_details_image {
  display: block;
  height: 533px;
}

.genres_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.genres_list > li:not(:last-child) {
  margin-right: 20px;
}

.go_back_button {
  position: absolute;
  right: 30px;
  top: 15px;
  display: block;
  padding: 20px;
  background-color: black;
  color: white;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 10px;
  border: 1px solid black;
}

.go_back_button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.cast_link::after,
.reviews_link::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 10px;
  height: 10px;
  padding: 2px;
  background-color: white;
  background-image: url("../../images/curve-down-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.video_link::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 10px;
  height: 10px;
  padding: 2px;
  background-color: white;
  background-image: url("../../images/next.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.companies_list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  margin-top: 0px;
}

.company_item:not(:last-child) {
  margin-right: 20px;
}

.company_logo {
  display: block;
  height: 30px;
  width: auto;
}
