.movie_details_page {
  padding: 30px 0;
  position: relative;
}

.go_back_button {
  position: absolute;
  right: 30px;
  display: block;
  padding: 20px;
  background-color: black;
  color: white;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 10px;
  border: 1px solid black;
}

.go_back_button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.additional_info_nav {
  padding: 10px 0;
  display: flex;
  align-items: center;

  background-color: lightblue;
}

.additional_nav_link {
  display: block;
  color: black;
  padding: 10px 0;
  margin: 0 40px;
  padding: 10px 20px;
  text-decoration: none;
}

.additional_nav_link--active {
  color: white;
  text-decoration: underline;
}
