.movie_root {
  max-width: 345px;
  height: 300px;
}
.movie_media {
  height: 140px;
}
.movie_item {
  list-style: none;
  max-width: 300px;
}
.movie_paragraph {
  overflow-y: hidden;
  max-height: 100px;
}
h2.movie_title {
  font-size: 20px;
}
.movie_link {
  text-decoration: none;
  color: inherit;
}
