.header {
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
}

@media (max-width: 768px) {
  .header {
    justify-content: center;
  }
}

.nav {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  padding: 10px 0px;
  color: white;
  margin-left: 20px;
  text-decoration: none;
  background-color: black;
}

.nav_link:hover,
.nav_link_active {
  background-color: white;
  color: black;
}
