.header {
  background-color: lightblue;
}

.nav {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
}

.navLink {
  color: black;
  padding: 10px 30px;
  text-decoration: none;
}

.navLink--active {
  color: white;
  text-decoration: underline;
}
